<div class="bg-white">
  <div class="hello center tl f2 wiki-text-blue open-sans pt6-ns pt4 pl5-ns pl4 pr3">
      You need passive income. Let's get you started.
  </div>
  <div class="pt5 open-sans wiki-text-blue center tl pl5-ns pl4 pr3">
    <div class="f4 left pb3">How much of your net income are you free to invest?</div>
    <mat-radio-group class="example-radio-group tl">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let radioOptn of moneyRadioOptions"
        [value]="radioOptn.value"
        (change)="onMoneyChange($event.value)"
        color="primary">
        {{ radioOptn.text }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="f4 left pb3 pt4">How many hours per week can you commit?</div>
    <mat-radio-group class="example-radio-group tl">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let radioOptn of timeRadioOptions"
        [value]="radioOptn.value"
        (change)="onTimeChange($event.value)"
        color="primary">
        {{ radioOptn.text }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="f4 left pb3 pt4">How much risk are you willing to tolerate?</div>
    <mat-radio-group class="example-radio-group tl">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let radioOptn of riskRadioOptions"
        [value]="radioOptn.value"
        (change)="onRiskChange($event.value)"
        color="primary">
        {{ radioOptn.text }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button
    class="ml5-ns ml4 bg-wiki-btn-blue white pa3 ph4 mt4 br2 mb5"
    (click)="onQuizComplete()"
    [ngClass]="{'email-btn-disabled' : !areInputsValid, 'pointer grow' : areInputsValid}">
    Go
  </button>
</div>
