@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg-wiki-blue {
  background-color: #E5EAFD;
}
.wiki-text-blue {
  color: #23285B;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.dosis {
  font-family: 'Dosis', sans-serif;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.bg-wiki-btn-blue {
  background-color: #5B76F5;
}
.wiki-btn-blue {
  color: #5B76F5;
}
input[type='radio'] { transform: scale(1); }

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.w3-5 {
  width: 6rem;
}
.h2-5 {
  height: 3rem;
}
.bg-footer-color {
  background-color: #232323;
}
.email-btn-disabled {
  background-color: rgba(91, 118, 245, 0.5);
  cursor: not-allowed;
}
