<div name="modal">
    <div class="modal-mask open-sans white" (click)="configObj.onClose()">
      <div class="tr f2 b mt4 pr4 pointer" (click)="configObj.onClose()">
        x
      </div>
      <div class="modal-container pa4 titillium-web">
        <a class="db pa3 f3 no-underline pointer white" (click)="configObj.onAbout()">
          About
        </a>
        <a class="db pa3 f3 no-underline pointer white mb3" href="/#footer">
          Contact
        </a>
      </div>
    </div>
  </div>
